<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- For Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">

  <!-- for Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
  <title>Learnosity</title>
</head>

<body>

  <!-- Start of Header NavBar  -->
  <nav class="navbar navbar-light bg-light header">

    <div class="container-fluid">
      <img class='img brand-logo mobile-image' src="https://www.learning.com/wp-content/uploads/2020/04/learnosity-logo.png" alt="Brand Image">
      <!-- <p class='brand-moto'>Keep Learning.</p> -->

  <ul class="navbar-nav mr-auto mobile-friendly" >
   <li id="btn" class="nav-item">
          <a class="inlineMe" href="/#development">Development</a>
          <a class="inlineMe" href="/#design">Design</a>
          <a class="inlineMe" href="/#marketing">Marketing</a>
          <a class="inlineMe" href="/#business">Business</a>
          <a class="inlineMe" href="/#music">Music</a>
          <a class="inlineMe" href="/#aboutus">About us</a>
  </ul>


      <ul class="navbar-nav mr-auto">

        <li id="btn" class="nav-item">
          <button class="btn btn-outline-dark" onclick="location.href='/extra/login'">Log In</button>
          <button class="btn btn-outline-primary" onclick="location.href='/extra/signup'">Sign Up</button>
        </li>
      </ul>

    </div>
  </nav>
  <!-- End of Header NavBar  -->
<div class="row course-row">

    <div class="col-lg-6 col-md-12 content">
      <h1 class="name" style="font-size:3.5vw; font-weight: bold;"><%=NAME%></h1>
      <p style="font-size:2vw;"><%=RATING%>% People liked it </p>
      <p style="font-size:2vw;"><%=ENROLLMENT%> people already enrolled</p>
      <p style="font-size:2vw;">Created by <%=CREATEDBY%></p>
      <h5 class="oldPrice">Rs. <%=OLDPRICE%></h5>
      <h1>Rs. <%=CURRENTPRICE%></h1>
      <button type="button" class="btn btn-primary btn-lg button">BUY NOW</button>
      <button type="button" class="btn btn-outline-light btn-lg button">Add to wishlist</button>
    </div>

   <div class="col-lg-6 col-md-12">
    <img class="course-image rounded" src=<%=IMAGE%> alt="course image">
   </div>

</div>

<div class="discribtion">
  <h1 class="discribTitle" style="font-weight: bold;">Description</h1>
  <p class="discribpara" style="font-size:2vw; "><%=DESCRIPTION%></p>
</div>

<div class="pricing">

</div>
</body>

<div class="footer-wrapper">
  <div class="container-fluid">
  <div class="footer-mid-part">

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="footer-section-one">
            <div class="footer-heading">
              <h2>Contact Us</h2>
            </div>

            <div class="footer-contact-box">
              <div class="footer-contact-icon"><i class="fa fa-map-marker"></i></div>
              <div class="footer-contact-text">
                <p>Address: Kurdha, Bhubneshwar, Odisha.</p>
              </div>
              <div class="clr"></div>
            </div>

            <div class="footer-contact-box">
              <div class="footer-contact-icon"><i class="fa fa-phone"></i></div>
              <div class="footer-contact-text">
                <p><a href="tel: 091XXXXXXX">091XXXXXXX</a></p>
              </div>
              <div class="clr"></div>
            </div>

            <div class="footer-contact-box">
              <div class="footer-contact-icon"><i class="fa fa-fax"></i></div>
              <div class="footer-contact-text">
                <p><a href="fax: 091XXXXXXX">091XXXXXXX</a></p>
              </div>
              <div class="clr"></div>
            </div>

            <div class="footer-contact-box">
              <div class="footer-contact-icon"><i class="fa fa-envelope"></i></div>
              <div class="footer-contact-text">
                <p><a href="E-mail: XXXXXXXX@gmail.com">XXXXXXXX@gmail.com</a></p>
              </div>
              <div class="clr"></div>
            </div>

          </div>

        </div>
         <div class="col-lg-4 col-md-6 col-sm-12 footer-icon">
       <a href="https://www.twitter.com"><i class="footer-icon fab fa-twitter i-footer"></i></a>
       <a href="https://www.facebook.com"><i class="fab fa-facebook-square i-footer"></i></a>
       <a href="https://www.instagram.com"><i class="footer-icon fab fa-instagram i-footer"></i></a>
       <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in i-footer"></i></a>
          </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="footer-section-three">
            <div class="footer-heading">
              <h2>Get in touch</h2>
            </div>
            <div class="footer-form">
              <a href = "mailto: abc@example.com">Send Email</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p>Copyright &copy; All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Of Footer -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
  crossorigin="anonymous"></script>

</body>

</html>
